$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

.header{
    background:url('../img/Подложка2.jpg') top no-repeat;

    &__bottom{
        padding:0 15px;
    }
    @media(max-width: $md3 + px){
        background:url('../img/Подложка2.jpg') 0 -20px no-repeat;
    }
}


.top-header{
    &__content{
        display:flex;
        align-items: center;
        height: 90px;

        @media(max-width:$md3 +px){
            height:70px;
        }
    }

    &__logo{
        display:inline-block;
        position: relative;
        z-index: 5;

    

        @media(max-width:$md3 + px){
            width:100px;
            img{
                max-width:100%;
            }
        }

        @media(max-width:640px){
            width:90px;
        }
    }

    &__contacts{
        position: relative;
        z-index: 5;
    }

    &__column{
        flex:0 1 50%;
        &_logo{
            
            flex:0 0 190px;
            text-align: center;
            @media(min-width:$md3 + px){
                align-self: flex-start;
                padding:25px 0 0 0;
              
            }
            @media(max-width: $md2 + px){
                flex: 0 0 100px;
            }
        }
    }
}

.menu{

    &__body{
        @media(max-width:$md2 + px){
            display:none;
            position:fixed;
            opacity:1;
            height:100%;
            visibility: hidden;
            width:100%;
            top:0;
            left:0;
            overflow: auto;
            z-index:2;
            padding:120px 20px 30px 20px;
            background-color: #fff;
            &::before{
                content:'';
                position: fixed;
                width:100%;
                height:105px;
                top:0;
                left:0;
                z-index:8;
                background-color: #1ab9ce;

            }
           &._active{
               display:block;
               opacity:1;
               visibility: visible;
           }

           @media(max-width: 640px){
            padding:90px 20px 30px 20px;

            &::before{
                height:70px;
            }
           }
        }
     
    }
    &__list{
       display:grid;
       grid-template-columns: 110px 130px 180px;
       li{
        margin:1px 0;
       }
      
       @media(max-width:1200px){
           grid-template-columns: 90px 110px 160px;
       }

       @media(max-width: $md2 + px){
           display:block;
           li{
               margin: 0 0 20px 0;
           }
       }
       
    }

    &__link{
    
        height: 27px;
        display:inline-flex;
        justify-content:center;
        align-items: center;
        transition: all 0.3s ease 0s;
    
        padding: 5px 22px;
        font-family: 'Play';
        text-decoration: underline;
        color:#fff;
        
        @media(max-width:1200px){
            padding: 5px 10px;
        }
       

        &:hover{
            border-radius: 20px;
            background-color: #058292;
        }

        @media(max-width: $md2 + px){
            color:#000;
            padding: 0;
            font-size:20px;
        }

    
    }
}


.contacts-header{
    display:flex;
    justify-content: center;
    @media(max-width:$md2 + px){
        justify-content: flex-end;
    }


    &__column{
        padding: 0 30px;

        @media(min-width: $md2 + px){
            border-left:1px solid #fff;
            &:first-child{
                border:0;
            }
        }
    
        @media(max-width:$md1 + px){
            padding:0 15px;
        }

        @media(max-width:640px){
            padding:0;
        }

     
    }

    &__item{
        &_icon{
            background:url('../img/Иконка1.png') left no-repeat;
            padding: 0 0 0 37px;
            @media(max-width:1200px){
                padding: 0 0 0 25px;
            }
            @media(max-width:640px){
                background:none;
                padding:0;
            }


        }

        &_second-phone{
            @media(max-width: $md2 + px){
                display:none;
            }
        }
    }

    &__label{
        font-size:12px;
        font-weight: 300;
        color:#fff;
        margin: 0 0 5px 0;

        @media(max-width:640px){
            display:none;
        }
    }

    &__phone{
        color:#fff;
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;

        @media(max-width:1200px){
            font-size:16px;
        }

        @media(max-width:640px){
            font-size:0;
            background:url('../img/Иконка1.png') left no-repeat;
            width:19px;
            height:25px;
            display:inline-block;
            margin: 0 10px 0 0;

        }

        
    }

}

.bottom-header{
    display:flex;
    

    &__column{
        flex: 0 1 calc(50% - 95px);
    }

    &__row{
       
        height:63px;
        display:flex;
        align-items: center;
        justify-content: space-between;

        @media(min-width:$md1 + px){
            padding: 0 10px;
        }
        @media(max-width:$md2 + px){
            padding:0;
        }
    }
}


.actions-header{
    display:flex; 
    align-items: center;
    li{
        padding: 0 54px 0 0;
        @media(max-width: $maxWidthContainer +px){
            padding: 0 30 / $maxWidthContainer * 100vw 0 0;
        }  
    }
    @media(max-width: 640px){
        justify-content: space-between;
        margin: 0 0  15px 0;
    }

    &__item{
        padding: 0 0 0 36px;
        line-height: 24px;
        display:inline-block; 
        color:#999999;
        transition:all .3s linear;
        span{
            border-bottom: 1px dotted #999999;
        }
        
        
        &_login{
            background: url('../img/Иконка2.png') left no-repeat;
            
        }
        
        &_req{
            background: url('../img/Иконка\ при\ наведении.png') left no-repeat;
            
            
            
        }
        
        &_email{
            background: url('../img/Иконка3.png') left no-repeat;
            span{
                border-bottom: 1px solid;
            }
        }  
        @media(min-width:1200px){
            padding: 0 0 0 30px;
            &:hover{
                span{
                    border-bottom: 1px dotted  #1ab9ce;
                    color: #1ab9ce;
                }
            }

        }
        @media(max-width: $md2 + px){
            padding:0;
            background:none;
         }
    }

}

.info-header{
    display:flex;
    justify-content: center;
    align-items: center;

    &__column{
        padding: 0 54px 0 0;
        @media(max-width: $maxWidthContainer +px){
            padding: 0 30 / $maxWidthContainer *100vw 0 0;

        }
        &:last-child{
            padding:0;
        }
    }

    &__callback{
        background: url('../img/Иконка4.png') left no-repeat;
        display:inline-block;
        color: #1ab9ce;
        padding: 0 0  0 32px;
        line-height: 20px;
        white-space: nowrap;

        span{
            border-bottom: 1px dotted #1ab9ce;;
            
        }
        @media(max-width:1200px){
            background:none;
            padding:0;
         }
        
    }

    &__schedule{
        background: url('../img/Иконка5.png') left no-repeat;
        padding: 0 0 0 37px;
        font-size: 12px;
        color:#999999;
        font-weight: 300;
        span{
            font-weight: 700;
        }
        @media(max-width:1200px){
           background:none;
           padding:0;
        }

        @media(max-width: $md2 + px){
            display:none;
         }
    }

    &__cart{
        background:url('../img/Иконка\ корзины.png') 0 0 no-repeat;
        width:43px;
        height:43px;
        display:inline-block;
        position:relative;

        span{
            position:absolute;
            padding: 0 11px;
            background-color: #f68038;
            border-radius: 20px;
            line-height: 25px;
            right:-25px;
            top:-3px;
            font-size: 18px;
            font-weight: 700;
            color:#fff;

        
            @media(max-width:1200px){
               right:-10px;
            }

        }
        @media(max-width: 640px){
            width:40px;
            height:40px;
            span{
                font-size:14px;
                line-height: 20px;
                padding: 0 5px;
                right:-5px;
            
            }
        }

    }

   
}


// Burger

.icon-menu{
    display:none;
    @media(max-width: $md2 + px) {
        display:block;
        position: relative;
       
        width:30px;
        height:18px;
        cursor: pointer;
        z-index: 5;

        span{
            transition: all .3s ease 0s;
            top:calc(50% - 1px);
            left:9px;
            position:absolute;
            width:100%;
            height:2px;
            background-color: #fff;
            &:first-child{
                top:0px;
            }

            &:last-child{
                top:auto;
                bottom:0px;
            }
        }

        &._active{
            span{
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top:calc(50% - 1px);
                }

                &:last-child{
                    transform: rotate(45deg);
                    bottom:calc(50% - 1px);
                }
            }
        }
    }
}