// Include all your style files to  style.scss, not to index.html
// Start settings
@import "header";
@import "start-settings";
@import "project-settings";
// Styles

// Media


body{
    font-family: 'Play-Bold', arial;
}

.wrapper{
    width:100%;
    min-height: 100%;
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

